<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>2048 Card Game</title>

  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
  <link href="style/main.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

  <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
  
  <script src="js/dom-to-image.js"></script>
  <!-- <script src="https://superal.github.io/canvas2image/canvas2image.js"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.0/html2canvas.min.js" integrity="sha512-UcDEnmFoMh0dYHu0wGsf5SKB7z7i5j3GuXHCnb3i4s44hfctoLihr896bxM0zL7jGkcHQXXrJsFIL62ehtd6yQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport"
    content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div class="container">
    <h2 class="title">2048 Card Game</h2>

  </div>
  <br>

  <br>
  <div class="container">
    <div className="form-floating my-2" >
      <input autocomplete="off" className="form-control" id="userId" readonly name="userId" ></input>  
      <label for="userId">Connected Wallet</label>
    </div>
    <div class="heading">

      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
      <div style="float: right; border-radius: 50%; margin-right:60px; " ><button class="btn btn-success" id="btn-login">Moralis Metamask Login</button>
        <button class="btn btn-warning" style="display:none;" id="btn-logout">Logout</button></div>
    </div>

    <div class="above-game">
      <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>
      <br>
      <a class="restart-button">New Game</a>
    </div>
    <div>
      <p class="game-explanation">
        <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two
        tiles with the same number touch, they <strong>merge into one!</strong> 
        <strong><br> Please Login with Metamask before playing the game</strong>
      </p>
    </div>
    <div class="game-container" id="game-container-id">
      <div class="game-message">
        <p></p>
        <div class="lower">
          <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>
    <br><br>
    <div class="container card" style="display:none;" id="container-card">
      Please check after some time the below URl to see your NFT in the NFT Game Card Collection:  
      <a id="opensea-url" href="https://opensea.io/collection/arcade-card-game" target="_blank"> NFT Game Card Collection on Opensea</a>
      <a id="transaction-url" href="" style="display: none;" target="_blank" >Check your NFT minting transaction on polygon explorer</a>
    </div>
    </p>
  </div>
  <script src="moralis-connection.js"></script>
  <script src="js/bind_polyfill.js"></script>
  <script src="js/classlist_polyfill.js"></script>
  <script src="js/animframe_polyfill.js"></script>
  <script src="js/keyboard_input_manager.js"></script>
  <script src="js/html_actuator.js"></script>
  <script src="js/grid.js"></script>
  <script src="js/tile.js"></script>
  <script src="js/local_storage_manager.js"></script>
  <script src="js/game_manager.js"></script>
  <script src="js/application.js"></script>
</body>

</html>